@model BookStore.Models.Author

@{
    ViewData["Title"] = "Create";

}

<h2>Create</h2>

<h4>Author</h4>
<hr />

<form asp-action="Create">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="mb-3">
    <label asp-for="FullName" class="control-label"></label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
  </div>
  <button type="submit" value="Create" class="btn btn-primary">Create</button>
  <a asp-action="Index" class="btn btn-outline-primary">Back to list</a>
</form>


@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
